
body {
    background-image: url("circles-light.png");
}

h1 {
    display: inline-block;
}

.header {
  align-items: center;
  width: 100%;
  background-color: white;
  overflow: hidden;
  padding-left: 100px;
}

ul {
    width: 960px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: inline-block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ffffff;
  }

  #profpic {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    max-width: 20%;
  }

  p {
    line-height: 2;
  }

  .main {
    margin-left: 100px;
    margin-top: 20px;
    align-items: center;
    padding: 20px;
    width: 920px;
    background-color: white;
    overflow: hidden;
  }